ul {
  list-style-type: none;
}

li {
  line-height: 2;
}

.hidden {
  display: none;
}

.save-alert {
  color: green;
}

.mustache-popover {
  width: 330px;
}

#toggleEnabledButton {
  display: inline-block;
  margin-left: 20px;
}

.options-form {
  max-width: 400px;
  padding: 20px 20px 10px 20px;
}

.options-form p {
  margin-top: 10px;
}

#configurationForm div.error {
  margin-right: -10px;
}

html {
  overflow-y: auto;
}